.MainTabPanel .x-tab-bar-strip {
    top: 30px !important; /* Default value is 20, we add 20 = 40 */
}

.MainTabPanel .x-tab-bar .x-tab-bar-body {
    height: 33px !important; /* Default value is 23, we add 20 = 43 */
    border: 0 !important; /* Overides the border that appears on resizing the grid */
}

.MainTabPanel .x-tab-bar .x-tab-bar-body .x-box-inner {
    height: 31px !important; /* Default value is 21, we add 20 = 41 */
}

.MainTabPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab {
    height: 31px !important; /* Default value is 21, we add 20 = 41 */
}

.MainTabPanel .x-tab-bar .x-tab-bar-body .x-box-inner .x-tab button {
    height: 23px !important; /* Default value 13, we add 20 = 33 */
    line-height: 23px !important; /* Default value 13, we add 20 = 33 */
}
