<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Hiroshima Hepatitis C Virus Database</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.7-gpl/resources/css/ext-all.css"/>
<link rel="stylesheet" type="text/css" href="wro/hcv.css"/>

<script src="http://cdn.sencha.io/ext-4.0.7-gpl/ext-all-debug.js"></script>
<script src="http://cdn.sencha.io/ext-4.0.7-gpl/examples/ux/RowExpander.js"></script>

<script src="api-debug.js"></script>
<script>
/*<![CDATA[*/
Ext.direct.Manager.addProvider(Ext.app.REMOTING_API);
/*]]>*/
</script>
<script src="wro/hcv.js"></script>
</head>

<body>
</body>
</html>
