<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>TITLE</title>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="http://home.hiroshima-u.ac.jp/nhayes/static/ext-4.1.0-beta-1/resources/css/ext-all.css" />
<script src="http://home.hiroshima-u.ac.jp/nhayes/static/ext-4.1.0-beta-1/ext-all.js"></script>
<script type="text/javascript" src="api-debug.js"></script>

<script>
/*<![CDATA[*/
Ext.require([
    'Ext.direct.*',
    'Ext.form.Panel',
    'Ext.form.field.Text',
    'Ext.form.field.Number'
]);

Ext.onReady(function(){
    Ext.direct.Manager.addProvider(Ext.app.REMOTING_API);

});

/*]]>*/
</script>
</head>
<body>
Thymeleaf test
</body>
</html>
