<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>TITLE</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="description" content="HTML 5 CSS 3 Spring Form" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" href="../css/global.css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="http://cdn.sencha.io/ext-4.0.7-gpl/resources/css/ext-all.css"/>


<script charset="utf-8" src="http://cdn.sencha.io/ext-4.0.7-gpl/ext-all-debug.js"></script>
<script type="text/javascript" src="api-debug.js"></script>

</head>

<body>
Thymeleaf test

<script>
/*<![CDATA[*/
Ext.Direct.addProvider(Ext.app.REMOTING_API);

function testDirect()
{
	directController.multiply(2, function(result) {
	}
	    Ext.MessageBox.alert("Result", result);
	});
}
/*]]>*/
</script>

<form>
<input type="button" value="Test Direct" onclick="testDirect()"/>
</form>
</body>
</html>
